<template>
  <div class="schedule-main">
    <ul id="example-1">
      <li
        v-for="scheduleItem in scheduleItems"
        :key="scheduleItem.id"
      >
        <router-link :to="{ name: 'schedule-item', params: { scheduleItemId: scheduleItem.id, title: scheduleItem.title, dateTime: scheduleItem.dateTime, description: scheduleItem.description} }">
            {{ scheduleItem.title }}
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'schedule-list',
  data () {
    return {
      scheduleItems: [
        {
          id: 1,
          title: '1 schedule item',
          dateTime: new Date('2018-06-06'),
          description: 'first'
        },
        {
          id: 2,
          title: '2 schedule item',
          dateTime: new Date('2018-06-07'),
          description: 'first'
        },
        {
          id: 3,
          title: '3 schedule item',
          dateTime: new Date('2018-06-08'),
          description: 'first'
        },
        {
          id: 4,
          title: '4 schedule item',
          dateTime: new Date('2018-06-10'),
          description: 'first'
        }
      ],
      msg: 'Welcome to my schedule app'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
