<template>
  <div class="schedule-item">
    <div>
      <div class="form-group">
        {{ $route.params.title }}
      </div>
      <div class="form-group">
        {{ $route.params.dateTime.toLocaleString()}}
      </div>
      <div class="form-group">
        {{ $route.params.description }}
      </div>
    </div>
    <div>
      <router-link class="btn btn-danger" to="/">Back</router-link>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
