<template>
  <div class="container">
        <div class="row">
            <div
                class="col-md-3"
                v-for="table in tables"
                :key="table.id"
            >
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_166b6854345%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_166b6854345%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7265625%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">{{ table.title }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <b-button @click.prevent="moveToTable(table.title, table.apiRoute)" >
                            View
                        </b-button>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
        </div>
  </div>
</template>

<script>
export default {
  name: 'tables-list',
  data () {
    return {
      tables: [
        {
          id: 1,
          title: 'Charges',
          apiRoute: 'charges'
        },
        {
          id: 2,
          title: 'Warehouses',
          apiRoute: 'warehouses'
        },
        {
          id: 3,
          title: 'Expense items',
          apiRoute: 'expense_items'
        },
        {
          id: 4,
          title: 'Sales',
          apiRoute: 'sales'
        }
      ]
    }
  },
  methods: {
    moveToTable (title, apiRoute) {
      this.$router.push({name: 'table-item', params: {title: title, apiRoute: apiRoute}})
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
