<template>
  <div class="schedule-item">
    <div class="container">
    <div>
      <div class="form-group">
        {{ $route.params.title }}
      </div>
    </div>
    <b-alert :show="loading" variant="info">Loading...</b-alert>
    <b-row>
    <b-col lg="9">
    <table :show="!loading" class="table-responsive bordered highlight centered hoverable z-depth-2" v-show="tableData.length">
      <thead>
        <tr>
          <th v-for="header in tableHeaders" :key="header">
            {{header}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="data in tableData" :key="data.id">
          <td v-for="(column, i) in data" :key="i + '-val'">
            {{ displayColumn(column) }}
          </td>
          <td style="width: 18%;">
            <a href="#modal" @click="edit(data)" class="btn waves-effect waves-light yellow darken-2"><i class="material-icons">edit</i>
            </a>
            <a href="#!" class="btn waves-effect waves-light red darken-2" @click="archive(data.id)"><i class="material-icons">archive</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    </b-col>
    <b-col lg="3">
      <b-card :title="(model.id ? 'Edit record ID#' + model.id : 'New Record')">
        <form @submit.prevent="savePost">
          <b-form-group v-for="header in tableHeaders" :key="header + '-modalHeader'" v-bind:label="header" v-if="header!=='id'">
            <b-form-input type="text" v-model="model[header]"></b-form-input>
          </b-form-group>
          <div>
            <b-btn type="submit" variant="success">Save Post</b-btn>
          </div>
        </form>
      </b-card>
    </b-col>
    </b-row>
    <div>
        <b-button to="/tables" variant="danger">
            Back
        </b-button>
        <b-button @click.prevent="refreshData()">
            Refresh
        </b-button>
    </div>
    </div>
  </div>
</template>

<script>
import {CRUD_SERVICE} from '@/http-services'

export default {
  data () {
    return {
      loading: false,
      tableHeaders: [],
      tableData: [],
      model: {}
    }
  },
  async created () {
    this.refreshData()
  },
  methods: {
    async refreshData () {
      this.loading = true
      let dbData = await CRUD_SERVICE.getData(this.$route.params.apiRoute)
      if (dbData.length) {
        this.tableHeaders = Object.keys(dbData[0])
        this.tableData = dbData
      }
      this.loading = false
    },
    displayColumn (value) {
      return value
    },
    async archive (id) {
      this.loading = true
      await CRUD_SERVICE.deleteData(this.$route.params.apiRoute, id)
      await this.refreshData()
      this.loading = false
    },
    async edit (post) {
      this.model = Object.assign({}, post)
    },
    async savePost () {
      if (this.model.id) {
        await CRUD_SERVICE.updateData(this.$route.params.apiRoute, this.model.id, this.model)
      } else {
        await CRUD_SERVICE.insertData(this.$route.params.apiRoute, this.model)
      }
      this.model = {} // reset form
      await this.refreshData()
    }
  }
}
</script>

<style scoped>
  table {
    display: table;
  }
</style>
